.container{
    margin-top: 3rem;
}
.image-details{
    /*margin-bottom: 27%; GRANDE*/
    margin-bottom: 5%;
}

.btn{
    margin-right: 10px;
}

.bi-plus-circle{
    margin-top: -3px;
}

.img-full{
    margin-left: -50%;
    max-height: 700px;
    max-width: 600px;
    object-fit: container;
}

.secondcolumn{
    margin-left: 20%;
}

.tag{
    margin-top: 15px;
    background-color: rgba(128, 128, 128, 0.211);
}

.list-group{
    margin-left: 40px;
}

hr{
    margin-left: 180px;
}