.container{
    margin-top: 3rem;
    
}
.image-details{
    /*margin-bottom: 27%; GRANDE*/
    margin-bottom: 5%;
}

.btn{
    margin-right: 10px;
}

.bi-plus-circle{
    margin-top: -3px;
}

.img-full{
    margin-left: -50%;
    height:400px;
    width: 600px;
    object-fit:cover;
}

.secondcolumn{
    margin-left: 20%;
}