
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

 /* VARIAVEIS ========================*/

 :root {
    --green: #008080;
    --black: #2c2c54;
}

.header-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background-color: #eee;
}

.header-1 .logo {
    font-size: 3rem;
    color: var(--black);
    font-weight: bolder;
}
.imgLogo{
    width: 50px;
}

.header-1 .search-box-container {
    display: flex;
    height: 5rem;
}

.header-1 .search-box-container #search-box {
    margin-top: 1rem;
    height: 80%;
    width: 100%;
    padding: 1.5rem 2rem;
    border: .1rem solid rgba(0, 0, 0, .3);
    color: #333;
    font-size: 2rem;
    text-transform: none;
    border-radius: 2rem;
}

.header-1 .search-box-container label {
    width: 8rem;
    height: 100%;
    background-color: var(--green);
    font-size: 2.5rem;
    line-height: 5rem;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.header-1 .search-box-container label:hover {
    background-color: var(--black);
}

.header-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
    background-color: #fff;
    position: relative;
}

.header-2.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header-2 .navbar a {
    padding: .5rem 1.5rem;
    font-size: 2rem;
    color: var(--black);
    border-radius: .5rem;
}

.header-2 .navbar a:hover {
    color: #fff;
    background-color: var(--green);
}
.nav__link{
    margin: 0px 10px;
}

.header-2 .navbar .nav__link.active,
.header-2 .navbar .nav__link:hover {
    color: #fff;
    background-color: #008080;
}

#navbarToggleExternalContent {
    font-size: 3rem;
    border-radius: .5rem;
    border: .1rem solid var(--black);
    padding: .8rem 1.5rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}

.search1{
    margin-top: 1rem;
    margin-left: 20px;
    width: 50px;
    color: var(--black);
    cursor: pointer;
}

/*MEDIA QUERYS  =======================*/

@media (max-width:1200px) {
    .header-1,
    .header-2 {
        padding: 2rem;
    }
}

@media (max-width:991px) {
    .header-1,
    .header-2 {
        padding: 2rem;
    }
    .search-box-container{
        max-width: 23rem;
    }
}
