

  <div class="row">
      <div 
      [routerLink]="['/details/' + item.id]"
      *ngFor="let item of this.responseAny" class="card" style="width: 25rem;">
          <img src="{{item.urls.regular}}" class="card-img-top sizeimage" alt="...">
          <div class="card-body">

              <p class="card-text">
                {{item.description !=undefined && item.description.length !=0 ? item.description : item.alt_description}}
              </p>

              <small>{{item.created_at | date:'shortDate'}}</small>
          </div>
      </div>
      <!--PAGINATION-->
      <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
  </div>