.card-img-top{
    height:300px;
    object-fit:cover;
}

.card{
    margin: 5px;
    padding: 0px;
    transition: all linear 0.4s;
}

.card:hover{
    transform: scale(1.05);
}

.row{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fafafa;
}

.sizeimage{
    /*margin-top: 100px;*/
    width: 100%;
    height: 300px;
    cursor: pointer;
    /*object-fit: cover;*/
}

